body {
  background-color: white;
  font-family: arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  color: #19161d;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}



h1 {
  grid-column: span 4;
  float: left;
  margin-left: 10px;
  letter-spacing: 3px;
}

header{
  grid-column: span 12;
  height: auto;
  color: white;
}


h2{
  font-weight: lighter;
  grid-column: span 12;
  padding: 5px;
}

#svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 300px;
}

.sect{
  width: 100%;
  padding: 10px 50px 10px 10px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: all .3s ease;
}

.sect:hover{
  color: #fff;
  letter-spacing: 3px;
}
.sect:first-child{ border-left: 10px solid #ffd071; }


.sect:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}

.sect:hover:after{ width: 100%; }
.sect:first-child:after{ background: #ffd071; }





.parallax-window {
    min-height: 350px;
    background: transparent;
}

.parallax-window-small{
    min-height: 100px;
    background: transparent;
}

.parallax-window-head{
  min-height: 100px;
  background: transparent;
}

nav {
  grid-column: span 8;
  float: right;
  margin-top: 50px;
}

nav li{
  display: inline-block;

}

nav ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  text-align: right;
}

/*nav li {
  border: 1px solid #000000;
  padding: 10px;
  width: 150px;
  background-color: #cc0000;
  color: #ffffff;
}*/

nav li a {
    color: white;
    margin-left: auto;
    text-decoration: none;
    text-align: center;
    width: 140px;
    display: block;
    transition: all .3s ease-in-out;
    letter-spacing: 0;
    backface-visibility: hidden;
  }

nav li a:hover{
  color: #ffd071;
  letter-spacing: 3px;
}


main {
  grid-column: span 12;
  color: #444;
}

#latte{
  position: relative;
  font-size: 74pt;
  color: white;
  margin: 0;
  padding: 50px 0 10px 25px;
}

.container{
  width: 1200px;
  height: 300px;
  overflow: hidden;
  }

#pic{
  position: relative;
  animation: pic-ani 25s ease-in-out infinite;
}

@keyframes pic-ani {
0%   { opacity: 1; top:-200px; }
50% { opacity: 1; top: -770px; }
100% { opacity: 1; top: -200px;}
}

footer {
  grid-column: span 12;
  font-style: italic;
  border-top: 3px solid #ffd071;
  margin-top: 25px;
  padding: 10px;
}

.whitetext{
  color: white
}
