/* Default Layout (Mobile) */

body {
  color: #19161d;
  background-color: #f2f2f2;
  font-family: arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}
/*Why is  there padding around the entire page?*/

h1 {
  width: 100%;
  letter-spacing: .15em;
  font-size: 18pt;
  text-align: center;
}

header{
  display: grid;
  color: white;
  height: auto;
}

nav {
  margin-bottom: 1em;
}

nav li{
  display: inline-block;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-column: span 2;
  list-style-type: none;
  margin-top: 2em;
  padding: 0;
  font-size: 11pt;
}

nav li a {
    color: white;
    margin: auto;
    text-decoration: none;
    text-align: center;
    width: 8.75em;
    display: block;
    transition: all .3s ease-in-out;
    letter-spacing: 0;
    backface-visibility: hidden;
    padding-top: .5em;
  }

nav li a:hover{
  color: #ffd071;
  letter-spacing: 3px;
}

.sect{
  width: 100%;
  padding: .625em 3em .625em .625em;
  border-left: .35em solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: all .3s ease;
}

.sect:hover{
  color: #fff;
  letter-spacing: 3px;
}
.sect:first-child{ border-left: .66em solid #ffd071; }


.sect:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}

.sect:hover:after{ width: 100%; }
.sect:first-child:after{ background: #ffd071; }


.parallax-header {
    min-height: 7em;
    background: transparent;
}

.parallax-window-small{
    min-height: 8em;
    background: transparent;
}

.parallax-window-head{
  min-height: 6.25em;
  background: transparent;
}

.parallax-mirror img {
  width: 100%;
}


main {
  grid-column: span 12;
  color: #444;
}


/*When the page width gets to a certain size, I want the h2 to move above the p, instead of float.  The p should colaps beneath the heading*/
h2{
  font-weight: lighter;
  font-size: 16pt;
  padding: .35em;
  width: auto;
  float: none;
}

p{
  border-top: .15em solid #ffd071;
  border-bottom: .15em solid #ffd071;
  margin: 1.5em 2em 1em 2em;
  padding: 1em .25em 1em .25em;

}

h3{
  font-weight: lighter;
}

#coffee{
  width: 100%;
}

#latte{
  position: relative;
  font-size: 74pt;
  color: white;
  margin: 0;
  padding: 50px 0 10px 25px;
}

.container{
  width: 100%;
  height: 9em; /*18.75em full*/
  overflow: hidden;
  }

#pic{
  width: 100%;
  position: relative;
  animation: pic-ani 25s ease-in-out infinite;
}

@keyframes pic-ani {
0%   { opacity: 1; top:-4.8em; }/*around-18, -50*/
50% { opacity: 1; top: -20em; }
100% { opacity: 1; top: -4.8em;}
}

footer {
  display: grid;
  font-style: italic;
  border-top: 3px solid #ffd071;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  color: #b8b8b8;
  font-size: 10pt;
}

/*Responsive Layout (Tablets)*/
@media all and (min-width: 34.1em){
  body{
    grid-template-columns: repeat(4,1fr)
  }
  h1 {
    text-align: left;
    width: 40%;
    font-size: 20pt;
    text-align: left;
    width: 100%;
    margin-left: .75em;
  }
  nav{
  }
  nav ul {
    display: block;
    width: 36em;
    margin: auto;
  }
}

/*Responsive Layout (Desktop)*/
@media all and (min-width: 55.3em){
  body{
    display: grid;
    grid-template-columns: repeat(12,1fr)
  }
  header{
    grid-column: span 12;
    display: grid;
    height: auto;
  }

  h1{
    width: 34%;
    font-size: 22pt;
    float: left;
  }

  nav {
    grid-column: span 8;
    float: right;
    margin-top: 3em;
  }
  .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  h2{
    grid-column: span 1;
    float: left;
  }

  .description{
    grid-column: span 2;
    height: auto;
  }

  .parallax-window-small{
      min-height: 6em;
  }
  .container{
    height: 18.75em;
  }

  footer{
    grid-column: span 12;
  }

}
